.Footer {
  width: 100%;
  margin: 1px;
  display: flex;
  background: white;
  border: 1px solid #1877f2;
  box-shadow: 0 0 15px 5px grey;
  border-radius: 8px;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  }

  .Footer > .footer-nav{
    font-size: 15px;
  }

